@import 'base';


html {
	font-size: 62.5%;
}

body{
	color: #000000;
	background-color: #fbf780;
	font-family: helvetica, arial, sans-serif;
	font-size:1.6em;
	line-height:1.9em;

}

h1{
	font-size:1.8em;
}

.box {
	background-color: #81b9e4;
    display: block;    
    text-align: center;
    font-size: 1.8em;
}

.error {
	color:#7a1919;
	font-size: 17px;
	display:block;
}

.info {
	color:#f9f9f9;
	font-size: 17px;
	display:block;
}

.hidden{
	display:none;
}

.boards{
	height:350px;
	width:400px;
	overflow: scroll;
	border: 2px solid black;
}

li{
	background-color: white;
	width:180px;
	height:110px;
	margin: 10px;
	display: inline-block;
}

.whiteboard{
	height:400px;
	background-color:#f9f9f9;
}

header{
	padding: 20px;
	background-color: black;
	color: white;
}